<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title></title>

  <meta name="description" content=""/>
  <meta name="keywords" content=" "/>

  <!-- Meta -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="robots" content="noodp"/>

  <!-- Microsoft smarties -->
  <meta http-equiv="ImageResize" content="no"/>
  <meta http-equiv="ImageToolbar" content="no"/>
  <meta name="MSSmartTagsPreventParsing" content="true"/>

  <!-- Icon -->
  <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
  <link rel="shortcut icon" href="/favicon.ico"/>

  <%= csrf_meta_tag %>

  <!-- insert stylesheet here -->
  <!-- insert javascript here -->

</head>
<body>
  <%= yield %>
</body>
</html>